* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
} 

#text{
    font-family: 'Times New Roman', Times, serif;
    width: 580px;
    height: 30px;
    background:white;
    color: whitesmoke;
    float: left;
}
#Recherche{
    width: 30px;
    height: 30px;
    background: url(img/loupe.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    float: right;
}

.nav-primary {
    background-color:white;
    position: fixed;
    width: 100%;
    height: 10%;
    opacity: 0.9;
}

.menu-horiz {
    margin:top;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    list-style-type:none;
    color:white;
}

.menu-horiz__item {
    display:block;
    padding: 6px 0px;
    color: black;
    text-decoration:white;
    transition: color 0.5s;
}



 .main {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding-top: 90px;

}

.main__left{
    background-color:white;
    padding: 5px;
}

.menu-vertic1{
    margin:bottom;
    height:150px;
    display: flex;
    flex-direction:column;
    justify-content: space-between ;
    list-style-type:none;
    color:white;
}
.menu-vertic2{
    margin:bottom;
    height:250px;
    display: flex;
    flex-direction:column;
    justify-content: space-between ;
    list-style-type:none;
    color:white;
}


.menu-vertic__item {
    width: 50px;
    height: 50px;
    color: black;
    text-decoration:white;
    transition: color 0.5s;
    margin-bottom: 100%;
}

.main__right{
    background-color:  beige;
    padding: 10px;
}
.main__right h3{
    text-align: center;
}


/* deuxième page*/
.menu{
    display: grid;
    grid-template-columns: 2.5fr 0.25fr;
    padding-top: 90px;
}

.menu-gauche{
    background-color: white;
    margin-top: 65px;
    background-color: white;
    padding: 10px;
    margin:bottom;
    height:150px;
    display: flex;
    flex-direction:column;
    justify-content: space-between ;
    list-style-type:none;
}
.menu-gauche h1{

    color: black;
}
.menu-droit{
    background-color: white;
    padding: 10px;
    margin:bottom;
    height:150px;
    display: flex;
    flex-direction:column;
    justify-content: space-between ;
    list-style-type:none;
    border: 1px, solid burlywood;
    
}
a:hover{
    text-decoration: none;
}
